@tailwind base;
@tailwind utilities;
@tailwind components;


@font-face {
    font-family: 'CabinetGrotesk';
    src: url('../assets/Fonts/TTF/CabinetGrotesk-Variable.ttf');
}

@font-face {
    font-family: 'Aspekta';
    src: url('../assets/asptex/ttf/Aspekta-300.ttf');
}

.font-custom {
    font-family: 'CabinetGrotesk' !important;

}

.font-custom1 {
    font-family: 'Aspekta' !important;

}

*{
    font-family: 'Aspekta' !important;
}