@tailwind base;
@tailwind utilities;
@tailwind components;


@font-face {

    font-family: 'MyCustomFont';

    src: url('./assets/fonts/CabinetGrotesk_Complete/Fonts/TTF/CabinetGrotesk-Variable.ttf') format('woff2'), 

         url('./assets/fonts/CabinetGrotesk_Complete/Fonts/TTF/CabinetGrotesk-Variable.ttf') format('woff');

    font-weight: normal;

    font-style: normal;

}